---
import Home from "../../components/Home.astro";
import LayoutEN from "../../layouts/LayoutEN.astro";
---

<LayoutEN title="webT" headerPosition="fixed" description="We are webTool, a digital agency that will show you to the world through the web.">
  <Home
    heading="We are webTool"
    description="We create your webs, eshops, apps"
    freeWeb="Free web?"
    scrollDown="Scroll down"
    ourServices="Our services"
    whatDoWeOffer="WHAT DO WE OFFER?"
    whatDoWeOfferDesc="Pomáhame značkám, prinášame ambiciózne nápady, a to všetko pri zachovaní jednoduchosti, estetickosti a praktickosti."
    cards={[
      {
        heading: "Marketing",
        description:
          "Náš tím markeťákov Vám nastaví a prispôsobí Váš web pre čo najlepšie konverzie.",
        services: [
          "Content research",
          "Web marketing",
          "Seo optimization",
          "Storytelling",
        ],
      },
      {
        heading: "Digital Design",
        description:
          "Vytvoríme pútavý a zaujímavý dizajn. Prispôsobíme ho vám a vašim požiadavkám.",
        services: [
          "Branding",
          "UI/UX Design",
          "Visual design",
          "Prototyping and testing",
        ],
      },
      {
        heading: "Development",
        description:
          "Všetko naprogramujeme a vytvoríme. Neexistuje problém, ktorý nevyriešime.",
        services: [
          "Web development",
          "Web optimization",
          "Eshop, app development",
          "Support & management",
        ],
      },
    ]}
    freeWebHeading="Ste podnikateľ, fotograf či začínajúci startup a nemáte web?"
    freeWebChance="Teraz máte jedinečnú možnosť ho získať zdarma"
    freeWebHowTo="Ako na to?"
    freeWebNeedIg="STAČÍ VÁM NA TO VÁŠ INSTAGRAM "
    freeWebCount="REMAINING FREE WEBS"
    freeWebCountFrom="from"
    freeWebConditions="PODMIENKY AKCIE"
    freeWebDownload="download"
  >
    <span slot="description"
      >Digital agancy that will show<br /> you to the world through web</span
    >

    <Fragment slot="freeWebText">
      <p class="mb-4">
        Vy budete zdieľať a propagovať náš profil na instagrame, zatiaľ čo my
        budeme programovať váš web, férový obchod, no nie?.
      </p>
      <p class="mb-4">
        Konkrétne podmienky celej akcie si môžte prečítať nižšie v pdf súbore,
        ktorý je dostupný na stiahnutie.
      </p>
      <p class="mb-4">Akcia platí iba pre prvých 7 žiadajúcich.</p>
    </Fragment>
  </Home>
</LayoutEN>
