---
import { getCollection } from "astro:content";
import LayoutSK from "../../layouts/LayoutSK.astro";

export async function getStaticPaths() {
  const blog = await getCollection("blog-sk");
  return blog.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<!-- TODO:  -->
<LayoutSK>
  <div class="prose prose-ruzova mx-auto max-w-5xl pt-8">
    <Content />
  </div>
</LayoutSK>
