---
import StarsBackground from "../components/StarsBackground.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/logo.svg" />
    <title>404 - Not Found</title>
    <meta name="description" content="Nothing was found." />
  </head>
  <body>
    <main class="flex h-screen items-center justify-center">
      <h1 class="text-5xl font-bold text-ruzova">404 - Not found</h1>
    </main>
    <StarsBackground />
  </body>
</html>
