---
import Layout from "../layouts/Layout.astro";
---

<Layout footerTheme="light">
  <section class="flex min-h-screen items-center justify-center">
    <h1
      class="text-center text-4xl leading-snug font-bold sm:text-6xl lg:text-7xl xl:text-8xl"
    >
      <span class="animate-fade-in-from-bottom block opacity-0"
        >Povieme&nbsp;vám&nbsp;niečo</span
      >
      <span
        class="animate-fade-in-from-bottom block opacity-0 ![animation-delay:.4s]"
        >o nás</span
      >
    </h1>
  </section>
  <section
    class="bg-secondary text-text flex min-h-screen items-center justify-center"
  >
    <div class="container max-sm:px-2">
      <div
        class="grid grid-cols-3 gap-y-14 sm:w-10/12 sm:gap-x-14 lg:gap-x-0 lg:gap-y-24"
      >
        <div>
          <span class="block text-6xl font-extrabold text-black sm:text-7xl"
            >4</span
          >
          <span>Členovia tímu</span>
        </div>
        <div>
          <span class="block text-6xl font-extrabold text-black sm:text-7xl"
            >5</span
          >
          <span>Rokov v obore</span>
        </div>
        <div>
          <span class="block text-6xl font-extrabold text-black sm:text-7xl"
            >30+</span
          >
          <span>Úspešných projektov</span>
        </div>
        <div class="col-span-2">
          <span class="block text-6xl font-extrabold text-black sm:text-7xl"
            >Bratislava</span
          >
          <span>Stretneme sa v meste</span>
        </div>
        <div class="col-span-2">
          <div class="flex items-center gap-3 max-sm:order-2">
            <a
              href="#kontakt"
              class="bg-primary hover:bg-text rounded-lg px-3 py-1 text-white transition-colors"
              >contact</a
            >
            <a
              href="www.instagram.com"
              class="text-primary hover:text-text transition-colors"
            >
              <svg
                class="w-8"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                ><path
                  fill="currentColor"
                  d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4zm9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3"
                ></path></svg
              >
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section
    class="text-text flex min-h-screen items-center justify-center px-3 py-8"
  >
    <div class="container grid grid-cols-1 items-center md:grid-cols-2">
      <h2
        class="text-center text-3xl font-bold text-white max-md:mb-12 sm:text-5xl md:text-6xl lg:text-7xl xl:text-8xl"
      >
        Prečo nás?
      </h2>

      <div
        x-data="{expanded: 2}"
        class="flex flex-col gap-2 md:gap-4 xl:gap-6 [&_button]:mb-4 [&_button]:cursor-pointer [&_button]:text-3xl [&_button]:font-bold [&_button]:text-white [&_button]:transition-colors [&_button]:hover:text-white [&_button]:sm:text-4xl [&_button]:lg:text-4xl [&_button]:xl:text-5xl"
      >
        <div>
          <button
            @click="expanded = expanded == 1 ? 0 : 1"
            :class="expanded == 1 ? '!text-secondary' : ''">Komunikácia</button
          >
          <p x-show="expanded == 1" x-collapse>
            Nebudeme ti písať e-maily, ktoré musíš čítať trikrát, aby si
            pochopil, čo chceme povedať. S nami to máš na rovinu, rýchlo a bez
            omáčok. Píšeme, voláme, memujeme – podľa toho, čo ti sadne.
          </p>
        </div>

        <div>
          <button
            @click="expanded = expanded == 2 ? 0 : 2"
            :class="expanded == 2 ? '!text-secondary' : ''">Rýchlosť</button
          >
          <p x-show="expanded == 2" x-collapse>
            Keď povieš „potrebujem to rýchlo“, tak to znamená, že začíname
            včera. Čas sú peniaze – a my nechceme míňať ani tvoje, ani naše.
          </p>
        </div>
        <div>
          <button
            @click="expanded = expanded == 3 ? 0 : 3"
            :class="expanded == 3 ? '!text-secondary' : ''">Úprimnosť</button
          >
          <p x-show="expanded == 3" x-collapse>
            Ak je niečo blbosť, povieme ti to. Radšej pravdu hneď, než
            komplikácie potom. Nie sme tu na to, aby sme ti prikyvovali, ale aby
            sme ti doručili riešenie, čo funguje.
          </p>
        </div>
        <div>
          <button
            @click="expanded = expanded == 4 ? 0 : 4"
            :class="expanded == 4 ? '!text-secondary' : ''">Kreativita</button
          >
          <p x-show="expanded == 4" x-collapse>
            Nerobíme weby, ktoré sa stratia v dave. Radi vymýšľame niečo iné,
            svieže, čo si ľudia všimnú. Od dizajnu po marketing – vždy tam
            pridáme trochu šialenstva, ktoré ťa odlíši.
          </p>
        </div>
      </div>
    </div>
  </section>
</Layout>
