---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="flex min-h-screen items-center justify-center">
    <h1
      class="text-center text-4xl leading-snug font-bold sm:text-6xl lg:text-7xl xl:text-8xl"
    >
      <span class="animate-fade-in-from-bottom block opacity-0"
        >Digitálne riešenia</span
      >
      <span
        class="animate-fade-in-from-bottom block opacity-0 ![animation-delay:.4s]"
        >rýchlo & na mieru</span
      >
    </h1>
  </section>
  <section class="container mx-auto">
    <video
      class="pointer-events-none select-none"
      id="video"
      src="/gama-promo.webm"
      muted
      loop
      controlslist="nodownload nofullscreen noremoteplayback"
      tabindex="-1"
playsinline
webkit-playsinline
></video>
  </section>
  <section id="doveruju-nam" class="container mx-auto py-32 md:py-48 xl:py-64">
    <div>
      <h2
        class="mb-32 text-center text-3xl font-bold sm:text-4xl lg:text-4xl xl:text-5xl"
      >
        Dôverujú nám
      </h2>
      <div class="swiper h-64">
        <div class="swiper-wrapper h-full">
          <div class="swiper-slide !flex h-full items-center justify-center">
            <a
              href="https://loftsport.sk"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                class="w-64 grayscale-100 transition-all duration-150 ease-out hover:scale-110 hover:!grayscale-0"
                src="/clients/loft.png"
                alt="logo loft"
              />
            </a>
          </div>
          <div class="swiper-slide !flex h-full items-center justify-center">
            <a
              href="https://e-real.sk"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                class="w-64 grayscale-100 transition-all duration-150 ease-out hover:scale-110 hover:!grayscale-0"
                src="/clients/e-real.png"
                alt="logo e-real"
              />
            </a>
          </div>
          <div class="swiper-slide !flex h-full items-center justify-center">
            <a
              href="https://dalitrans.sk"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                class="w-64 grayscale-100 transition-all duration-150 ease-out hover:scale-110 hover:!grayscale-0"
                src="/clients/dalitrans_logo.svg"
                alt="logo dalitrans"
              />
            </a>
          </div>
          <div class="swiper-slide !flex h-full items-center justify-center">
            <a
              href="https://dukatrade.sk"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                class="w-64 grayscale-100 transition-all duration-150 ease-out hover:scale-110 hover:!grayscale-0"
                src="/clients/dukatrade.svg"
                alt="logo dukatrade"
              />
            </a>
          </div>
          <div class="swiper-slide !flex h-full items-center justify-center">
            <a
              href="https://fincross.sk"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                class="w-64 grayscale-100 transition-all duration-150 ease-out hover:scale-110 hover:!grayscale-0"
                src="/clients/fincross-logo.svg"
                alt="logo fincross"
              />
            </a>
          </div>
          <div class="swiper-slide !flex h-full items-center justify-center">
            <a
              href="https://finreal.eu"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                class="w-64 grayscale-100 transition-all duration-150 ease-out hover:scale-110 hover:!grayscale-0"
                src="/clients/finreal.svg"
                alt="logo finreal"
              />
            </a>
          </div>
          <div class="swiper-slide !flex h-full items-center justify-center">
            <a
              href="https://zubajdusan.sk"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                class="w-64 grayscale-100 transition-all duration-150 ease-out hover:scale-110 hover:!grayscale-0"
                src="/clients/dusan-zubaj.svg"
                alt="logo Dušan Zubaj"
              />
            </a>
          </div>
          <div class="swiper-slide !flex h-full items-center justify-center">
            <a href="https://myzu.sk" target="_blank" rel="noopener noreferrer">
              <img
                class="w-64 grayscale-100 transition-all duration-150 ease-out hover:scale-110 hover:!grayscale-0"
                src="/clients/myzu-logo-black.png"
                alt="logo myzu"
              />
            </a>
          </div>
          <div class="swiper-slide !flex h-full items-center justify-center">
            <a
              href="https://routegrill63.sk"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                class="w-64 grayscale-100 transition-all duration-150 ease-out hover:scale-110 hover:!grayscale-0"
                src="/clients/routegrill63.svg"
                alt="logo routegrill63"
              />
            </a>
          </div>
          <div class="swiper-slide !flex h-full items-center justify-center">
            <a
              href="https://routegrill50.sk"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                class="w-64 grayscale-100 transition-all duration-150 ease-out hover:scale-110 hover:!grayscale-0"
                src="/clients/route-50-grill-logo.svg"
                alt="logo routegrill50"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section
    id="sluzby"
    class="bg-secondary text-text flex min-h-screen items-center justify-center px-3 py-8"
  >
    <div class="container grid grid-cols-1 items-center md:grid-cols-2">
      <h2
        class="text-center text-3xl font-bold text-black max-md:mb-12 sm:text-5xl md:text-6xl lg:text-7xl xl:text-8xl"
      >
        Services
      </h2>

      <div
        x-data="{expanded: 2}"
        class="[&_button]:text-inactive flex flex-col gap-2 md:gap-4 xl:gap-6 [&_button]:mb-4 [&_button]:cursor-pointer [&_button]:text-3xl [&_button]:font-bold [&_button]:transition-colors [&_button]:hover:text-white [&_button]:sm:text-4xl [&_button]:lg:text-4xl [&_button]:xl:text-5xl"
      >
        <div>
          <button
            @click="expanded = expanded == 1 ? 0 : 1"
            :class="expanded == 1 ? '!text-black' : ''">kódime</button
          >
          <p x-show="expanded == 1" x-collapse>
            Radi si sadneme k čistému kódu a napíšeme ho tak, aby šlapal ako
            hodinky. Žiadne zbytočné komplikácie, len moderné riešenia, ktoré
            fungujú. Či už ide o jednoduchý web alebo komplexný e-shop, vždy to
            urobíme tak, aby to bolo rýchle a spoľahlivé.
          </p>
        </div>

        <div>
          <button
            @click="expanded = expanded == 2 ? 0 : 2"
            :class="expanded == 2 ? '!text-black' : ''">programujeme</button
          >
          <p x-show="expanded == 2" x-collapse>
            Milujeme čísla, logiku a výpočty – proste ten nerdský svet.
            Naprogramujeme ti e-shop, ktorý zvládne tisíce objednávok a ani sa
            nezapotí. Od prvého kliknutia až po posledný riadok kódu.
          </p>
        </div>
        <div>
          <button
            @click="expanded = expanded == 3 ? 0 : 3"
            :class="expanded == 3 ? '!text-black' : ''">produkujeme</button
          >
          <p x-show="expanded == 3" x-collapse>
            Nemáš fotky, videá alebo grafiku? Žiadny problém! Máme super kamošov
            fotografov, dizajnérov a tvorcov, ktorí vedia robiť zázraky.
            Postaráme sa, aby tvoj web vyzeral profi aj vďaka skvelému vizuálu.
          </p>
        </div>
        <div>
          <button
            @click="expanded = expanded == 4 ? 0 : 4"
            :class="expanded == 4 ? '!text-black' : ''">marketujeme</button
          >
          <p x-show="expanded == 4" x-collapse>
            voj web alebo e-shop nebude len stáť a čakať. Vďaka našim
            marketingovým skillom a šikovným partnerom ťa dostaneme medzi ľudí.
            Facebook, Instagram, Google či LinkedIn – vieme, kde sa máš ukázať a
            ako tam zaujať.
          </p>
        </div>
        <div>
          <button
            @click="expanded = expanded == 5 ? 0 : 5"
            :class="expanded == 5 ? '!text-black' : ''">optimalizujeme</button
          >
          <p x-show="expanded == 5" x-collapse>
            Rýchlosť, SEO, použiteľnosť – hej, aj na to treba myslieť. Pre nás
            je web, ktorý sa načíta pomaly, osobná urážka. Upravíme ho tak, aby
            si ho zamilovali nielen tvoji zákazníci, ale aj Google.
          </p>
        </div>
        <div>
          <button
            @click="expanded = expanded == 6 ? 0 : 6"
            :class="expanded == 6 ? '!text-black' : ''">staráme sa</button
          >
          <p x-show="expanded == 6" x-collapse>
            Web hotový? My odchádzame až keď si spokojný… a vlastne ani potom
            nie. Postaráme sa o aktualizácie, zálohy, bezpečnosť aj drobné
            úpravy. S nami máš istotu, že tvoj web má vždy niekoho, kto mu kryje
            chrbát.
          </p>
        </div>
      </div>
    </div>
  </section>
</Layout>

<script>
  import Swiper from "swiper";
  import { Autoplay, Mousewheel } from "swiper/modules";
  import "swiper/css";

  const swiper = new Swiper(".swiper", {
    modules: [Autoplay, Mousewheel],
    slidesPerView: 2,
    mousewheel: {
      forceToAxis: true,
    },
    centeredSlides: true,
    loop: true,
    autoHeight: false,
    spaceBetween: 30,
    speed: 150,
    autoplay: {
      delay: 2000,
    },
  });

  function resizeSwiper(swiper: Swiper) {
    if (window.innerWidth < 640) {
      swiper.params.slidesPerView = 2;
    } else if (window.innerWidth < 1024) {
      swiper.params.slidesPerView = 3;
    } else {
      swiper.params.slidesPerView = 4;
    }
    swiper.update();
    swiper.autoplay.start();
  }

  resizeSwiper(swiper);
</script>

<script>
  const video = document.querySelector("#video") as HTMLVideoElement;
  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          video.play();
        } else {
          video.pause();
        }
      });
    },
    {
      rootMargin: "-100px 0px",
    },
  );
  observer.observe(video);
</script>

<style>
  .swiper-slide img {
    @apply grayscale-100 transition-all;
  }

  .swiper-slide-active img {
    @apply grayscale-25;
  }
</style>
