---
import Home from "../components/Home.astro";
import LayoutSK from "../layouts/LayoutSK.astro";
---

<LayoutSK headerPosition="fixed" title="webT">
  <Home
    heading="Sme webTool"
    description="Vytvárame vaše web, eshopy či aplikácie"
    freeWeb="Web zdarma?"
    scrollDown="Scrolluj dole"
    ourServices="Naše služby"
    whatDoWeOffer="ČO PONÚKAME?"
    whatDoWeOfferDesc="Pomáhame značkám, prinášame ambiciózne nápady, a to všetko pri zachovaní jednoduchosti, estetickosti a praktickosti."
    cards={[
      {
        heading: "Marketing",
        description:
          "Náš tím markeťákov Vám nastaví a prispôsobí Váš web pre čo najlepšie konverzie.",
        services: [
          "Content research",
          "Web marketing",
          "Seo optimization",
          "Storytelling",
        ],
      },
      {
        heading: "Digital Design",
        description:
          "Vytvoríme pútavý a zaujímavý dizajn. Prispôsobíme ho vám a vašim požiadavkám.",
        services: [
          "Branding",
          "UI/UX Design",
          "Visual design",
          "Prototyping and testing",
        ],
      },
      {
        heading: "Development",
        description:
          "Všetko naprogramujeme a vytvoríme. Neexistuje problém, ktorý nevyriešime.",
        services: [
          "Web development",
          "Web optimization",
          "Eshop, app development",
          "Support & management",
        ],
      },
    ]}
    freeWebHeading="Ste podnikateľ, fotograf či začínajúci startup a nemáte web?"
    freeWebChance="Teraz máte jedinečnú možnosť ho získať zdarma"
    freeWebIWant="CHCEM WEB ZDARMA"
    freeWebHowTo="Ako na to?"
    freeWebNeedIg="STAČÍ VÁM NA TO VÁŠ INSTAGRAM "
    freeWebCount="POČET ZOSTÁVAJÚCICH MIEST"
    freeWebCountFrom="z celkových"
    freeWebConditions="PODMIENKY AKCIE"
    freeWebDownload="stiahnuť"
  >
    <span slot="description"
      >Digitálna agentúra, ktorá Vás<br />ukáže svetu prostredníctvom webu</span
    >

    <Fragment slot="freeWebText">
      <p class="mb-4">
        Vy budete zdieľať a propagovať náš profil na instagrame, zatiaľ čo my
        budeme programovať váš web, férový obchod, no nie?.
      </p>
      <p class="mb-4">
        Konkrétne podmienky celej akcie si môžte prečítať nižšie v pdf súbore,
        ktorý je dostupný na stiahnutie.
      </p>
      <p class="mb-4">Akcia platí iba pre prvých 7 žiadajúcich.</p>
    </Fragment>
  </Home>
</LayoutSK>
