---
export interface Props {
  heading: string;
  text: string;
}

const props = Astro.props;
---

<main
  class="absolute left-0 top-0 flex h-full w-full flex-col items-center justify-center gap-5 overflow-hidden pointer-events-none"
>
  <h1 class="text-center text-6xl font-bold text-ruzova md:text-9xl">
    {props.heading}
  </h1>
  <div>
    <p class="mb-12 text-center text-xl">{props.text}</p>
    <svg
      viewBox="0 0 232.40108 210.71149"
      version="1.1"
      id="svg5"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      xmlns="http://www.w3.org/2000/svg"
      class="relative left-full w-60 rotate-45 md:w-64 md:rotate-12 xl:-top-5 xl:w-72 2xl:top-0 2xl:w-80"
    >
      <defs id="defs2"></defs>
      <g
        id="layer1"
        style="stroke:#ffffff;stroke-opacity:1"
        transform="matrix(0.94220061,0,0,1.0002467,0.14783363,0.64560429)"
      >
        <path
          style="fill:none;stroke:#ffffff;stroke-width:1.28801;stroke-dasharray:none;stroke-opacity:1"
          d="M 0.00275768,-0.02154517 C 236.99979,60.627588 231.60911,208.35531 231.60911,208.35531 l -17.34895,-20.04582 31.03717,-0.0512 -13.37506,20.09702"
          id="path439"></path>
        <use
          x="0"
          y="0"
          xlink:href="#path439"
          id="use1226"
          style="stroke:#ffffff;stroke-opacity:1"></use>
        <use
          x="0"
          y="0"
          xlink:href="#use1226"
          id="use1228"
          style="stroke:#ffffff;stroke-opacity:1"></use>
      </g>
    </svg>
  </div>
</main>
