<main class="text-center lg:text-left">
  <section class="flex min-h-screen flex-col pt-24 lg:justify-center lg:pt-0">
    <div>
      <h1
        class="mb-4 inline-block bg-gradient-to-br from-zelena to-ruzova bg-clip-text text-5xl font-bold text-transparent xl:text-8xl"
      >
        Sme webTool
      </h1>
      <p class="mb-4 text-xl xl:text-4xl">
        Digitálna agentúra, ktorá Vás<br />
        ukáže svetu prostredníctvom webu
      </p>
      <p class="text-xl italic text-zelena xl:text-2xl">
        Vytvárame vaše web, eshopy či aplikácie
      </p>
    </div>
  </section>
</main>
