---
import "../styles/global.css";
import "@fontsource/host-grotesk";
---

<html lang="sk" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Gama Studio</title>
  </head>
  <body class="bg-primary text-white">
    <header class="absolute top-0 left-1/2 -translate-x-1/2 container pt-5 max-sm:px-3 grid grid-cols-2 sm:grid-cols-3 gap-y-5 md:pt-8 lg:pt-10 2xl:pt-14 items-center">
      <div class="max-sm:order-1">
        <a href="/" class="w-fit block">
          <img src="/logo.svg" alt="Logo">
        </a>
      </div>
      <nav class="font-light max-sm:order-3 max-sm:col-span-2 flex justify-evenly max-w-2xs w-full mx-auto">
        <a class="hover:text-secondary transition-colors" href="/#doveruju-nam">work</a>
        <a class="hover:text-secondary transition-colors" href="/#sluzby">services</a>
        <a class="hover:text-secondary transition-colors" href="/#o-nas">about</a>
      </nav>
      <div class="max-sm:order-2 flex gap-3 items-center justify-end">
        <a href="/#kontakt" class="bg-secondary text-black px-3 py-1 rounded-lg hover:bg-white transition-colors">contact</a>
        <a href="www.instagram.com" class="hover:text-secondary transition-colors">
          <svg class="w-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4zm9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3"/></svg>
        </a>
      </div>
    </header>
    <slot />
  </body>
</html>
